<footer class="d-flex flex-column">
  <div class="f-info py-3 mt-auto">
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
    <div class="f-info-name">&copy;My Destination Place</div>
    <div class="f-info-rules">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/contact">Contact</a>
    </div>
  </div>
</footer>
